html,body
{
    margin: 0px;
    height: 100%;
}

.parallax
{
    background-image: url("../");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.h-90
{
    height: 90%;
}

.h-10
{
    height: 10%;
}

.carrejaune
{
    color: white;
    background-color: yellow;
    opacity: .5;
}
.carregris
{
    background-color: rgba(255,255,255,.5);
}