<!DOCTYPE html>
<!-- index.html -->
<!-- Par Cynthia Mariani -->
<!-- Le 2019-05-28 Exercice 1 Modal -->

<html lang="fr-ca">
<head>

    <title>Mariani Design</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- navbar -->
    <link rel="icon" type="image/png" href="media/logo.png"/>

</head>

<!-- navbar -->


<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#sectionStarwars">Section SW</a>
        <a class="nav-item nav-link" href="#">Pricing</a>

        <div class="dropdown">

            <a class="nav-item dropdown nav-link dropdown-toggle" href="#" id="dropdownMenuButton"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                Dropdown link

            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
</div>


<!-- navbar -->



<footer>

</footer>


<script src="js/jquery-3.3.1.js"></script>

<script src="js/bootstrap.js"></script>

</body>
</html>