body
{
    width: 1000px;
    background-image: url("");
    background-repeat: no-repeat;
    background-color: black;
    margin: auto;
}

@font-face
{
    font-family: jedi;
    src: url("Starjedi.ttf");
}

h1
{
    color: yellow;
    font-family: jedi;
    font-size: 140px;
    text-align: center;
    margin: 0;
}

h2,h3,h4
{
    color: white;
    text-align: center;
}

h2
{
    font-size: 72px;
}

h3
{
    font-size: 60px;
}

h4
{
    font-size: 44px;
}

p
{
    color: white;
    font-size: 16px;
    text-align: justify;

}

img
{
    display: block;
    margin: auto;
}

.title
{
    color: yellow;
}

a
{
    color: white;
}

#link
{
    color: white;
}